<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

{% block title %}

{% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}" />
</head>
<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
          <i class="fa fa-bars" id="menu-toggle"></i>
          <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
              <div class="image">
                <a href="#"><img src="{% static 'assets/images/author-image.jpg' %}" alt="" /></a>
              </div>
              <div class="author-content">
                <h4>Mohammed Ali</h4>
                <span><a href="{% url 'resume' %}">Resume</a></span>

                <!-- <span>Web Designer</span> -->
              </div>
              <div class="social-network">
                <ul class="soial-icons">
                  <li>
                    <a href="https://wa.link/u2ykvk"
                      ><i class="fa fa-whatsapp"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/punditiTech"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="www.linkedin.com/in/mohammed-ali7"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="https://msng.link/o?Pundit99=tg"><i class=" fa  fa-telegram"></i></a>
                    
                  </li>
                  <li>
                    <a href="https://github.com/Pundit4Real" class="fa fa-github"></a>
                  </li>
                </ul>
              </div>
              <nav class="main-nav" role="navigation">
                <ul class="main-menu">
                  <li><a href="#section1">About</a></li>
                  <li><a href="#section3">Projects</a></li>
                  <li><a href="#section4">Contact Me</a></li>
                </ul>
              </nav>
              
              <div class="copyright-text">
                <p> &copy; Copyright 2023,<br>    
                  Mohammed Ali (Software engineer) </p>
              </div>
            </div>
          </div>
        </div>

{% comment %} page's main content block {% endcomment %}
        {% block content %}
        
        {% endblock content %}

        <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
{% comment %} fontawesome kit link {% endcomment %}
    <script src="https://kit.fontawesome.com/f87512c856.js" crossorigin="anonymous"></script>

    <script> 

      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
</body>
</html>