{% extends "main/base.html" %}
{% load static %}


{% block title %}
<title>Contact Me</title>
{% endblock title %}


{% block content %}

<section class="section contact-me" data-section="section4">
    <div class="container">
      <div class="section-heading">
        <h2>Contact Me</h2>
        <div class="line-dec"></div>
        <span>
          Have a question, collaboration opportunity, or just want to connect? 
          I'd love to hear from you! <br>
          Feel free to reach out via email or connect with me on <a href="www.linkedin.com/in/mohammed-ali7"><strong>LinkedIn</strong></a>. 
          I'm always open to discussing new projects, sharing ideas, or simply having a conversation about technology and software engineering.
        </span>
      </div>
      {% comment %} the for loop for displaying the success message to the user {% endcomment %}
      {% for message in messages  %}
        <div class="alert alert-success">
          {{message}}
        </div>
      {% endfor %}
  
      <div class="row">
        <div class="right-content">
          <div class="container">
            <form id="contact" action="{% url 'contact' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Your name..."
                      required= ""
                    />
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Your email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input
                      name="subject"
                      type="text"
                      class="form-control"
                      id="subject"
                      placeholder="Subject..."
                      required=""
                    >
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea
                      name="message"
                      rows="6"
                      class="form-control"
                      id="message"
                      placeholder="Your message..."
                      required=""
                    ></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      Send Message
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}