{% extends "main/base.HTML" %}
{% load static %}

<!-- the title block -->
{% block title %}
<title>My Porfolio</title>
{% endblock title %}


{% block content %}


<!-- The about page -->
<section class="section about-me" data-section="section1">
  <div class="container">
    <div class="section-heading">
      <h2>About Me</h2>
      <div class="line-dec"></div>
    </div>
    <div class="left-image-post">
      <div class="row">
        <div class="col-md-6">
          <div class="left-image">
            <img src="{% static 'assets/images/left-image.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-text">
            <h4>Simple Introduction</h4>
            <p>
              I am Mohammed Ali, a dedicated BSc Computer Science student at the University of Energy and Natural Resources,Sunyani-Ghana. 
              Fueled by a passion for technology, I am committed to mastering the complexities of backend software engineering.

            </p>
            <!-- <div class="white-button">
              <a href="#">Read More</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="right-image-post">
      <div class="row">
        <div class="col-md-6">
          <div class="left-text">
            <h4>Skills and Aspirations</h4>
            <p>
              Driven by curiosity, I am dedicated to mastering the intricate workings of backend development. 
              Proficient in languages like Python, CC++,Dart, JavaScripts,SQL, etc.
              I am enthusiastic about leveraging my skills to design robust systems and create efficient solutions. 
              My academic journey has equipped me with a solid foundation in algorithms, data structures, and software design principles, 
              paving the way for me to contribute meaningfully to the tech industry.
            </p>
            <!-- <div class="white-button">
              <a href="#">Read More</a>
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="{% static 'assets/images/right-image.jpeg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- My project section -->
<section class="section my-work" data-section="section3">
  <div class="container">
    <div class="section-heading">
      <h2>My Project Porfolio</h2>
      <div class="line-dec"></div>
      <span>
        Welcome to my project portfolio! I've had the privilege of working on diverse software endeavors that showcase my passion for backend engineering and problem-solving. 
        Each project embodies a unique challenge I've tackled, leveraging my skills and creativity in crafting robust solutions. 
        From database optimization to API development, these projects reflect my commitment to innovation and excellence in the field of software engineering.
      </span>
    </div>
    <div class="row">
      <div class="isotope-wrapper">
        <form class="isotope-toolbar">
          <label
            ><input
              type="radio"
              data-type="*"
              checked=""
              name="isotope-filter"
            />
            <span>ALL</span></label
          >
          <label
            ><input
              type="radio"
              data-type="app"
              name="isotope-filter"
            />
            <span>MOBILE-APP</span></label
          >
          <label
            ><input
              type="radio"
              data-type="apps"
              name="isotope-filter"
            />
            <span>DESKTOP-APP</span></label
          >
          <label
            ><input
              type="radio"
              data-type="Web"
              name="isotope-filter"
            />
            <span>WEB-SITE</span></label
          >
        </form>
        <div class="isotope-box">
          <div class="isotope-item" data-type="app">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-01.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-01.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>First Title</h4>
                <span>free to use our template</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="apps">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-02.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-02.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Second Title</h4>
                <span>please tell your friends</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="Web">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-03.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-03.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Item Third</h4>
                <span>customize anything</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="app">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-04.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-04.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Item Fourth</h4>
                <span>Re-distribution not allowed</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="apps">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-05.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-05.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Fifth Awesome</h4>
                <span>Ut sollicitudin risus</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="Web">
            <figure class="snip1321">
              <img
                src="{% static 'assets/images/portfolio-06.jpg' %}"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="{% static 'assets/images/portfolio-06.jpg' %}"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Awesome Sixth</h4>
                <span>Donec eget massa ante</span>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact me page..  -->
<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>Contact Me</h2>
      <div class="line-dec"></div>
      <span>
        Have a question, collaboration opportunity, or just want to connect? 
        I'd love to hear from you! <br>
        Feel free to reach out via email or connect with me on <a href="www.linkedin.com/in/mohammed-ali7"><strong>LinkedIn</strong></a>. 
        I'm always open to discussing new projects, sharing ideas, or simply having a conversation about technology and software engineering.
      </span>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Your name..."
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input
                    name="email"
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Your email..."
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input
                    name="subject"
                    type="text"
                    class="form-control"
                    id="subject"
                    placeholder="Subject..."
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea
                    name="message"
                    rows="6"
                    class="form-control"
                    id="message"
                    placeholder="Your message..."
                    required=""
                  ></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    Send Message
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock content %}